@media (min-width: 1200px) {
  .main-box{
    width : 100vw !important;
    padding : 0px 400px;
  }
  .item-box{
    padding : 0px 25% !important;
  }
}

@media (min-width: 800px) and (max-width: 1199px) { /* 태블릿 */
  .main-box, .item-box {
    padding: 0px 20px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .main-box, .item-box{
    padding : 0px 10px;
  }
}

body {
	font-family: 'S-CoreDream-3Light';
  color: #2e266d !important;
  font-size : 10pt !important;
}
.navbar{
  position:absolute;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(58, 59, 69, .15) !important;
}
.main-box{
  margin-top: 70px;
}
#content-wrapper::-webkit-scrollbar {
    display: none;
  }

#page-top, #wrapper{
    height: 100vh;
}

#wrapper #content-wrapper{
    background-color: #ffffff;
}

#roadingImg{
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/trv/trvBackground.PNG");
    background-size: cover; /* 이미지를 화면에 맞게 조절 */
    background-position: center; /* 이미지를 중앙에 위치 */
    background-repeat: no-repeat; 
    position: fixed;
}

#trvLogoImg{
    margin-top : 2vh;
    margin-bottom : 2vh;
    width: 10vw;
    height: 5vh;
    background-image: url("../img/trv/TRV.PNG");
    background-size: contain; /* 이미지를 화면에 맞게 조절 */
    background-position: center; /* 이미지를 중앙에 위치 */
    background-repeat: no-repeat; 
}

#trvLogo{   
  margin-top : 2vh;
  margin-bottom : 2vh;
  width: 10vw;
  height: 5vh;
  background-image: url("../img/trv/navyLogo.PNG");
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
}

#trvLogoPopUp{   
  height: 16vh;
  background-image: url("../img/trv/navyLogo.PNG");
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
}
#topButtonDiv{
    width: 100%;
}

#mainCardDiv{
    background-color: #eaeaea17;
    border-radius: 5px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #f1f1f1 #ffffff;
}

#subCardDiv{
    background-color: #eaeaea17;
    border-radius: 5px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #f1f1f1 #ffffff;
}

#scrollAnsDiv{
  /* border: 1px solid #e5e4fb4d; */
  overflow-y: scroll;
  scrollbar-width: none;
  /* padding-bottom : 70px; */
  max-height : 300px;
}

.ansCard{
  border: 1px solid #f0f0f0;
  color: #2b2b2b;
  width : 100%;
  min-height : 80px;
  margin-bottom : 10px;
  border-radius: 1px;
}
.ansWrite{
  background-color:#dddddd;
  width : 100%;
  height : 130px;
  /* margin-bottom : 10px; */
  border-radius: 10px 10px 0px 0px;
  margin : 0px !important;
  bottom: 0px;
  position: sticky;
  z-index: 2;
}
#ansText{
  width: 100%;
  border: none;
  resize: none;
}
.likeHateDiv{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
/* sub-col의 기본 설정 *//* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 *//* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 *//* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */

:root {
  --side-bar-width: 30px;
}

.sub-col {
  flex: 0 0 4.6%; /* 초기 넓이 설정 */
  z-index:2;
}
  

.contents-col{
  z-index:1;
}
/* 사이드바의 너비와 높이를 변수를 통해 통제 */


.side-bar ul {
  margin:0;
}

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
  display: block;
  font-weight: bold;
  padding: 10px 0px;
  text-align:center;
  color: #2e266d !important;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
  border-radius: 10px;
}

.side-bar ul > li > a:hover{
  text-decoration:none;
}

.side-bar {
  position: fixed;    /* 스크롤을 따라오도록 지정 */
  width: 110px;
  min-height: 50px;   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
  border-radius: 10px;
  transition: .5s;
  background-color:#2e266d03;
}
.side-bar:hover {
  background-color:#2e266d;
}

.side-bar:hover ul > li > a {
  color: #fff !important;
}

/* 마우스 인식 시 아래의 설정 위치로 이동 */
.list1{transform: translate(calc(var(--side-bar-width) * -0.8), 34px);  /* X축 이동, Y축 고정 */}
.list1:hover {transform: translate(-20px, 34px);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */}

.list2{transform: translate(calc(var(--side-bar-width) * -0.8), 88.9px);}
.list2:hover {transform: translate(-20px, 88.9px);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */}

.list3{transform: translate(calc(var(--side-bar-width) * -0.8), 144px);  /* X축 이동, Y축 고정 */}
.list3:hover {transform: translate(-20px, 144px);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */}

.list4{transform: translate(calc(var(--side-bar-width) * -0.8), 198.9px);}
.list4:hover {transform: translate(-20px, 198.9px);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */}

/* 메뉴 색상 */
.side-bar ul > li > a{
  margin-top: 5px;
  width: 100%;
  background-size: 50px; /* 이미지를 화면에 맞게 조절 */
  background-repeat: no-repeat; 
}


#tripArea{
  /* background-image: url("../img/trv/tripArea.PNG"); */
  background-size: 55px; /* 이미지를 화면에 맞게 조절 */
  background-repeat: no-repeat; 
  background-position: 79% 50%;
}

#searchMap{
  /* background-image: url("../img/trv/searchMap.PNG"); */
  background-size: 100px; /* 이미지를 화면에 맞게 조절 */
  background-repeat: no-repeat; 
  background-position: 60% 50%;
}

#search{
  /* background-image: url("../img/trv/search.PNG"); */
  background-size: 30px; /* 이미지를 화면에 맞게 조절 */
  background-repeat: no-repeat; 
  background-position: 53% 50%;
}


/*메인페이지 디자인*/
.noTable{border-collapse: unset !important;background-color: #ffffff00 !important;}
.noTable td, .noBorder{border:none !important;}
.noTable td{background-color: #ffffff00 !important;}


#moneBtn{
  z-index: 4;
  position: fixed;
  width: 70px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  right: 90px;
  cursor: pointer;
}
#gongBtn{
  z-index: 4;
  position: fixed;
  width: 70px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  right: 10px;
  cursor: pointer;
}
/* 카테고리 디자인 */
.cateBox {
  margin : 0 0px 20px 0px;
  text-align: center;
  min-height: 180px;
}
.merged-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom : 20px;
  height: 100%; /* 전체 높이 차지 */
}
.cateBtn{border:none;}
#cateBtn1{background-color:#d6e8f7; color:#cb962e;}
#cateBtn1:hover{border : 1px solid #cb962e;}
#cateBtn2,#cateBtn6,#cateBtn10{background-color:#76a8ff; color:#e7e7e7;}
#cateBtn2:hover, #cateBtn6:hover, #cateBtn10:hover { border : 1px solid #e7e7e7; }
#cateBtn3,#cateBtn7,#cateBtn8{background-color:#b3cfff; color:#5a4dbd;}
#cateBtn3:hover, #cateBtn7:hover, #cateBtn8:hover { border : 1px solid #5a4dbd; }
#cateBtn4,#cateBtn5,#cateBtn9{background-color:#e6e3ff; color:#755777;}
#cateBtn4:hover, #cateBtn5:hover, #cateBtn9:hover { border : 1px solid #755777; }
/* 리스트 디자인 */
.listItemCard{
  border-radius : 0px !important;
}

.listItem{
  height:279px;

}
.listItemBox{
  height: 226px;
  border: 2px solid #f4f4f4;
  opacity: 0.9;
  overflow: hidden; /* 벗어나는 부분 숨기기 */
  position: relative;
}

.listItemImg{
  width: 100% !important; /* 가로를 div에 맞춤 */
  height: auto !important; /* 세로 비율 유지 */
  object-fit: cover !important; /* 내용이 div를 채우도록 */
  position: absolute !important; /* 필요 시 위치 고정 */
}
.ItemBox{
  width: 500px;
  height: 180px;
  border: 2px solid #f4f4f4;
  opacity: 0.9;
  overflow: hidden; /* 벗어나는 부분 숨기기 */
  position: relative;
}
.ItemImg{
  height: 85vh;
  object-fit: cover !important;
  position: absolute !important;
}


.listItemCon{
  height : 50px !important;
  margin:1px 5px !important;
  padding-bottom: 2px;
  color: #231d52da;
  font-weight: 600;
  font-size: 0.6rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%; /* div의 너비 설정 */
}

.listItemWrt{
  position: absolute;
  right: 65px;
  bottom: 0px;
  padding: 0px 7px;
  margin: 0px 7px 6px 0px;
  background-color : #0000008f;
  color:#ffffff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  z-index: 10; /* 겹침 우선순위 설정 */
}
.itemBigView{
  position: absolute;
  right: 0;
  bottom: 0px;
  padding: 0px 7px;
  margin: 0px 7px 6px 0px;
  background-color : #0000008f;
  color:#ffffff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  z-index: 10; /* 겹침 우선순위 설정 */
}

.showDetail{
  position: absolute;
  right: 0;
  bottom: 0px;
  padding: 0px 7px;
  margin: 0px 7px 6px 0px;
  background-color : #0000008f;
  color:#ffffff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  z-index: 10; /* 겹침 우선순위 설정 */
}

/* 일정 css */
.bottom-div{
  position : absolute;
  bottom : 0;
  right : 0;
}
/* 프로필 css*/
.profileCropper{
  height: 100%;
  border: 2px solid #f4f4f4;
  opacity: 0.9;
  overflow: hidden;
  position: relative;
}
.proImgChg{
  z-index: 3 !important;
  position: absolute;
  background-color: #00000038;
}
.profileBox{
  height: 100%;
  border: 2px solid #f4f4f4;
  opacity: 0.9;
  overflow: hidden; /* 벗어나는 부분 숨기기 */
  position: relative;
}

#writeBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  right: 10px;
  cursor: pointer;
  font-size :12px
}

#moneBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  right: 10px;
  cursor: pointer;
  font-size :12px
}

#moneViewBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  left: 10px;
  cursor: pointer;
  font-size :12px
}
#manaMoneBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  left: 10px;
  cursor: pointer;
  font-size :12px
}

#listBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  left: 10px;
  cursor: pointer;
  font-size :12px
}
#saveBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #352e63b2;
  color: #fff;
  right: 15px;
  cursor: pointer;
  font-size :12px
}

/* 로그인 css */
#trvNavyLogo{
  margin-top : 2vh;
  margin-bottom : 2vh;
  width: 10vw;
  height: 5vh;
  background-image: url("../img/trv/navyLogo.PNG");
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
}

#loginLogo{
  margin-top : 2vh;
  margin-bottom : 2vh;
  width: 10vw;
  height: 5vh;
  background-image: url("../img/trv/loginImg.PNG");
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
}

#loginBack{
  margin-top : 2vh;
  margin-bottom : 2vh;
  width: 10vw;
  height: 25vh;
  background-image: url("../img/trv/loginBackdev.PNG");
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
}
.loginBox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.joinBox {
  padding-top: 100px !important;
}


.loginInput{
  width: 85%; 
  height: 40px;
  border: none;
  color:#2e266d;
  background-color: #f3f3f7d7;
  font-weight: 300;
  padding : 0px 20px;
  border-radius: 25px;
}
.loginInput:focus{
  outline: none;
}

.loginInput::placeholder {
  color: #2e266d;
}


#loginBtn{
  width: 60%;
  padding : 10px 0px;
  border-radius: 15px;
  background-color: #7770a6b2;
}

/* 회원가입 부분 */
.joinTbl{
  /* height: 420px; */
  /* background-color: bisque; */
  width: 550px !important;
  border-top: 1px solid #2e266d17 !important;
  border-bottom: 1px solid #2e266d17 !important;
  border-radius : 25px;
}
.joinBtm{
  width: 550px !important;
  text-align: center;
}
#joinLogo{
  margin-bottom: 4.5vh !important;
  height: 5vh;
  background-image: url("../img/trv/joinImg.PNG");
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
}

#joinBack{
  margin-top : 2vh;
  margin-bottom : 2vh;
  width: 100% !important;
  height: 52vh;
  /* background-image: url("../img/trv/joinBackdev2.PNG"); */
  background-size: contain; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; 
  padding: 80px 110px 50px 120px ;
} 

.joinDiv > i { position: absolute; margin: 18px 0px 0px 22px; }
.joinMailDiv > i { position: absolute; margin: 18px 0px 0px 22px; }

.joinMailDiv{
  display: table;
  width: 100%;
}
.joinInput{
  width: 100%; 
  height: 50px;
  border: none;
  color:#2e266d;
  background-color: #ffffffa9;
  font-weight: 500 !important;
  padding : 0px 50px !important;
  border-bottom: 1px solid #2e266d17 !important;
}

.joinInput:focus{ outline: none; }
.joinInput::placeholder { color: #2e266d; }
/* .joinDiv{border-left : 1px solid #2e266d17 !important; border-right:1px solid #2e266d17 !important} */
/* .joinDiv:nth-child(1){border-top-left-radius: 25px; border-top-right-radius: 25px;border-top: 1px solid #2e266d17 !important;padding-top:10px}
.joinDiv:nth-child(6){border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;border-bottom: 1px solid #2e266d17 !important} */
.radioDiv{width: 85%; display:inline-flex; padding: 0px !important;height:50px; text-align: center !important; padding: 3px 20px 0px 20px  !important; border:none !important;}/*border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;*/
.ullist{    list-style: none;display: ruby; }
.form-ul{position:fixed;text-align: center; padding-top:10px; right:0px; left:0px;}
#nickChkBtn{position: absolute; margin: 10px 0px 0px -90px; border: none;background-color: #160c5dc2;}
.eyeI{position: absolute; margin: 18px 0px 0px -41px !important; cursor: pointer;}
#passI{border-bottom: 1px solid #2d2d2d; padding-bottom: 2px; cursor: pointer;}
#homeBtn{
  z-index: 4;
  position: fixed;
  width: 100px;
  bottom: 10px;
  padding: 8px 0px;
  border-radius: 50px;
  background-color: #2e266d;
  color: #fff;
  right: 10px;
  cursor: pointer;
}
/* 작성 css */
/* .filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 78%;
  color: #999999;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
} */

.x-scroll{
  scrollbar-width: thin;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.y-scroll{
  scrollbar-width: thin;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
}
.y-scroll .card{
  display:contents !important;
}
.imgItemTest{
  width: 400px !important;
  height: 400px !important;
  min-width: 400px !important;
  min-height: 400px !important;
  max-width: 400px !important;
  max-height: 400px !important;
  border-radius: var(--bs-btn-border-radius) !important;
  border: 2px solid #f4f4f4;
}

.cropped-img{
  max-width: 100%;   /* 가로 크기를 div에 맞게 조정 */
  max-height: 100%;  /* 세로 크기를 div에 맞게 조정 */
  object-fit: contain; /* 비율을 유지하면서 크기 조정 */
}
.btn-remove-img{
  position: absolute;
  right: 0;
  top: 0;
  /* background-color: #0000008f; */
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.addImgPart{
  width : 400px !important;
  height : 400px !important;
  border-color: #2e266d26 !important;
}
/* 안내창  */
#showTrvInfo{
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background: #0000004f !important;
  z-index: 999 !important;
}
/* bootstrap에 없는 css*/
.w-5{width: 5%;}
.w-10{width: 10%;}
.w-15{width: 15%;}
.w-20{width: 20%;}
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-45{width: 45%;}
.w-50{width: 50%;}
.w-70{width: 70%;}
.w-75{width: 75%;}
.w-80{width: 80%;}
.w-85{width: 85%;}
.w-90{width: 90%;}
.w-95{width: 95%;}

.h-80{min-height:80% !important;}
.h-85{min-height:85% !important;}
.h-90{min-height:90% !important;}
.h-95{min-height:95% !important;}
.h-100{min-height:100% !important;}

.j-c{justify-content: center !important;}

.btn-secondary{background-color: #615e7a9a;}
.text-blg{font-weight: bold;}
.t-white{color:#fff !important;}
.t-red{color:#ac1111 !important;}
.t-navy{color:#2e266d !important;}
.lh-15{line-height: 15px;}
.lh-20{line-height: 20px;}
.lh-24{line-height: 24px;}
.lh-30{line-height: 30px;}
.lh-40{line-height: 40px;}
.lh-50{line-height: 50px;}
.d-contents{display: contents !important;}
.d-table-cell{display: table-cell !important;}
.d-ruby{display: ruby !important;}
.d-ruby-t{display: ruby-text !important;}
.btn:focus{box-shadow: none !important; border-color: #2e266d26;}
.btn-xs{padding: .1rem .2rem; font-size: .59rem; line-height: 1.5; border-radius: .2rem;}
.btn-white{background-color: #ffffff; border-color: #eeeeee;}
.btn-white:hover{background-color: #f5f5f5; border-color: #2e266d26;    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.btn-navy{background-color: #2e266d !important; color:#ffffff !important;}
.btn-navy:hover{background-color: #2b2363 !important;  border-color: #ffffff80 !important; color:#d6d6d6 !important; transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.hr-navy{border-color: #2e266d42}
.bg-white{background-color: #ffffff;}

.txt-10{font-size: 1rem;}
.txt-12{font-size: 1.2rem;}
.txt-14{font-size: 1.4rem;}
.txt-16{font-size: 1.6rem;}
.txt-17{font-size: 1.7rem;}
.txt-18{font-size: 1.8rem;}

.txt-6{font-size: 0.6rem !important;}
.txt-7{font-size: 0.7rem !important;}
.txt-8{font-size: 0.8rem !important;}
.txt-9{font-size: 0.9rem !important;}

.tx-9{font-size: 9px !important;}
.tx-10{font-size: 10px !important;}
.tx-11{font-size: 11px !important;}
.tx-12{font-size: 12px !important;}
.tx-13{font-size: 13px !important;}
.tx-14{font-size: 14px !important;}
.tx-15{font-size: 15px !important;}
.tx-16{font-size: 16px !important;}
.tx-17{font-size: 17px !important;}
.tx-18{font-size: 18px !important;}
.tx-19{font-size: 19px !important;}
.tx-20{font-size: 20px !important;}



.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}

.f-right{float:right !important;}
.c-pointer{cursor: pointer;}

.modal-body{
  text-align: center;
}
.modal-content2{
  background-color: #ffffff00 !important;
  border: none;
}
.modal-fit{
  width: 100% !important;
  min-width: 100% !important;
}
.modal-fit > .modal-content{
  background-color: #ffffff00 !important;
  border: none;
}

.form-control{
  border: 1px solid #ccc9e97a !important;
}
/* 캘린더 관련 css */
.mbsc-calendar-cell-inner{
  border: 1px solid #00000026 !important;
  border-bottom: none !important;
}

/* .miniCard{
  height: 253px;
  width : 180px;
} */
.calItemCon{
  height : 68px !important;
  margin:1px 2px !important;
  color: #231d52da;
  font-weight: 600;
  font-size: 0.6rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 0 !important; /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%; /* div의 너비 설정 */
}

#cateBtn{
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
 transition: all 200ms ease-in-out;

  z-index: 4;
  position: fixed;
  width: 150px;
  bottom: 20px;
  padding: 5px 0px;
  border-radius: 60px;
  background-color: #2e266d;
  color: #fff;
  right: 20px;
  cursor: pointer;
}

gmp-map {
  height: 100%;
}


/* PNotify 안내창 css */
[data-pnotify] .brighttheme-container {
  padding: 1.1rem !important;
  background-color: #f7f9ff !important;
  border: 0 solid var(--brighttheme-border-color);
  color: #2b2363 !important;
  border-radius: 3px !important;
}
.brighttheme-title > .pnotify-pre-line{
  font-weight: 900 !important;
  padding-left:2px !important;
}
.pnotify-pre-line{
  font-weight: 500 !important;
  font-size: smaller !important;
  padding-left:20px !important;
}
.pnotify-action-button{
  color: #2b2363 !important;
  font-weight: 700 !important;
}
[data-pnotify] .brighttheme-confirm, [data-pnotify] .brighttheme-title+.brighttheme-text {
  margin-top: 10px !important;
}
[data-pnotify] .brighttheme-btn {
  border: 1px solid #fcfcfc00 !important;
  padding : 3px 4px !important;
  border-radius: 3px !important;
  font-size: smaller !important; 
  font-weight: 400 !important;
}
[data-pnotify] .brighttheme-btn:hover {
  border: 1px solid #2b23633d !important;
}
.pnotify-pre-line {
  padding-left: 0px !important;
}
/* [data-pnotify] .brighttheme-btn:hover:nth-child(2) {
  border: 1px solid #ff000033 !important;
} */
[data-pnotify] .brighttheme-btn:nth-child(2){
  margin-left:5px;
  color:rgb(146, 0, 0) !important; 
}
[data-pnotify].pnotify-with-icon .brighttheme-content {
  margin-left: 1px !important;
}

.ui-state-active{
  background-color: #453c7c !important;
  border-color : #453c7c !important;
}

.txt-dis{ background-color: #0000000f !important;}
.tooltip-inner { max-width: 100% !important;background-color: #000000cc !important;}

.chkAck{background-color: #2d2d2d29;}
.searchInput{font-weight: 600; color: #4b4b4b;}

.noWrap{
  word-wrap: break-word;
  text-wrap-mode: nowrap;
}
/* 게시글 자세히 보기 */
.dItemImg{
  width: 300px;
  height: 300px;
  object-fit: cover !important;
  margin-bottom: .25rem !important;
  overflow: visible !important;
  /* position: absolute !important; */
}
.contentsOne{
  margin: 30px 0px;
}
.content-cate{
  margin-bottom: 5px; 
}
.content-div > text{
  vertical-align: top;
}

/* .dAnsWrite{
  background-color:#dddddd;
  width : 80vw;
  padding : 5px 0px;
  border-radius: 10px 10px 0px 0px;
  bottom: 0px;
  position: absolute;
  z-index: 2;
  margin-left: 10vw;
} */

.dAnsWrite{
  background-color:#dddddd;
  width : 100%;
  /* height : 130px; */
  /* margin-bottom : 10px; */
  border-radius: 10px 10px 0px 0px;
  margin : 0px !important;
  bottom: 0px;
  position: sticky;
  z-index: 2;
}
